//colors
$color_baltic_sea: #272b30;
$color_silver_chalice: #aaaaaa;
$color_black_60: rgba(0, 0, 0, 0.6);
$color_limed_spruce: #3c4854;
$color_east_bay: #3b5382;
$color_lynch: #607a94;
$color_ship_cove: #7194b7;
$color_william: #3f5f69;
$color_athens_gray: #eaedf1;
$color_scarpa_flow: #52575c;
$color_raven: #757f89;
$color_cape_cod_25: rgba(58, 63, 68, 0.25);
$color_cape_cod: #3a3f44;
$color_shark: #232628;
$color_cape_cod_50: rgba(58, 63, 68, 0.5);
$color_tuna: #32383e;
$color_boulder: #797b7c;
$color_alabaster: #fbfbfc;
$color_black_30: rgba(0, 0, 0, 0.3);
$color_abbey: #484e55;
$color_outer_space: #313539;
$color_bunker: #101112;
$color_vulcan: #17191b;
$color_mirage: #1b1e20;
$white: #ffffff;
$color_fern: #62c462;
$color_viking: #5bc0de;
$color_carnation: #ee5f5b;
$color_pizazz: #f89406;
$color_gallery: #e9ecef;
